{%extends "layout.html" %}
{% block body %}
  <p>
    These are the events you are scheduled for:
  </p>
  <table>
    {% for event in ScheduledEvents %}
    <tr>
      <td>
        {{event.event_name}}
      </td>
      <td>
        {{event.event_date}}
      </td>
    </tr>
    {%endfor%}
  </table>
  <p>
    These are the events you can sign up for:
  </p>
  <table>
    {% for event in AvailableEvents %}
    <tr>
      <td>
        {{event.event_name}}
      </td>
      <td>
        {{event.event_date}}
      </td>
      <td>
        <a href="{{url_for('sign_up', ID = event.event_id)}}">Sign Up</a>
      </td>
    </tr>
    {%endfor%}
  </table>

{%endblock%}
